header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  background-color: #dae4cf;
  /* color: #fff; */
}

header h1 {
  padding: 1rem 0;
}

.all-elements {
  width: 100%;
}

main h2 {
  margin: 2% 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.about-search {
  width: 30%;
  margin: 5% 0;
  padding: 1.5rem;
  /* font-weight: bold; */
  text-align: center;
  font-size: 1.8rem;
  background-color: rgb(0, 79, 0);
  border: black 1px solid;
  border-radius: 45px;
  letter-spacing: 1px;
  color: #fff;
}

.example {
  font-weight: bold;
}

.exampleFilter {
  color: rgb(228, 124, 124);
}

.centered {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.centered p {
  margin-top: 2%;
  font-size: 2rem;
}

.contContent {
  width: 100%;
}

/* .flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
/* } */
*/ main {
  display: flex;
  justify-content: center;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
