header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  background-color: #dae4cf;
  /* color: #fff; */
}

header h1 {
  padding: 1rem 0;
}

.all-elements {
  width: 100%;
}

main h2 {
  margin: 2% 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.about-search {
  width: 30%;
  margin: 5% 0;
  padding: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  background-color: rgb(0, 79, 0);
  border: black 1px solid;
  border-radius: 45px;
  color: #fff;
}

.centered {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main {
  /* height: 100%; */
  display: flex;
  justify-content: center;
  /* background-color: rgb(145, 175, 114); */
}

.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
